Read these files first:
D:\repos\ASafariM\README.md
D:\repos\ASafariM\ASafariM.Api\README.md

Read files on the server:
/var/www/asafarim/readme.md
/var/www/asafarim/ASafariM.Clients/asafarim-ui/README.md

My app is always running in @terminal_selection 