@import url(../../../dashboard-client/src/styles/custom.css);

header {
  margin: 0;
}

header .container {
  overflow: hidden;
  padding: 2%;
}

.cardHomePageFeature {
  max-width: 600px;
  padding: 5px;
  font-family: Arial, sans-serif;
  text-align: justify;
}

.quoteHomePageFeature {
  font-style: italic;
  font-size: 0.8em;
  text-align: center;
}

.authorHomePageFeature {
  font-size: 0.8em;
  margin: 0;
  line-height: .5em;
  text-align: right;
}

.text--center {
  text-align: center;
}

.min-h-screen {
  min-height: 100vh;
}

.hero__title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1.2;
  text-align: center;
}

.hero__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.025em;
  line-height: 1.2;
  text-align: center;
}

button .button--secondary .button--lg {
  font-size: 1.2rem;
}