#create-post {
    width: 100%;
  #create-blog-post-form {
    padding: 1rem;
    border: 1px solid var(--border-primary);    
    border-radius: 3px;
    background-color: var(--bg-primary);
    box-shadow: var(--shadow-sm);
    transition: all 0.3s ease;
    &:hover {
      background-color: var(--bg-secondary);
    }

    .ms-label {
      font-size: 1.0rem;
      font-weight: 400;
      color: var(--text-primary);
      display: flex;
      align-items: center;
      gap: 1rem;
      transition: all 0.3s ease;
      &:hover {
        color: var(--primary);
      }
      border: olivedrab;
    }

    .ms-Checkbox-text {
      font-size: 1.0rem;
      font-weight: 400;
      color: var(--text-primary);
      display: flex;
      align-items: center;
      gap: 1rem;
      transition: all 0.3s ease;
      &:hover {
        color: var(--primary);
      }
     
    }
  }
}
